﻿@font-face {
  font-family: 'stainy';
  src: url(../fonts/stainy.eot);
  src: url(../fonts/stainy.eot?#iefix) format('embedded-opentype'), url(../fonts/stainy.woff2) format('woff2'), url(../fonts/stainy.woff) format('woff'), url(../fonts/stainy.ttf) format('truetype'), url(../fonts/stainy.svg#stainy) format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: Arial, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}
h1,
h2,
h3 {
  font-family: 'stainy', 'Helvetica Neue', Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2 {
  font-size: 36px;
}
a {
  color: #000000;
}
.node-teaser {
  padding-top: 8px;
  padding-bottom: 5px;
  position: relative;
  height: 100%;
  width: 100%;
}
.node-teaser:hover h2,
.node-teaser:focus h2 {
  display: block;
}
.node-teaser:hover img,
.node-teaser:focus img {
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.node-teaser h2 {
  position: absolute;
  margin: 50% 0 0 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  display: none;
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
.node-teaser a {
  display: block;
}
.node-teaser a img {
  width: 100%;
  height: auto;
  opacity: 1;
}
#logo {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
}
#logo a {
  display: block;
}
#logo a img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}