﻿article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

	audio:not([controls]) {
		display: none;
		height: 0;
	}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

	a:active,
	a:hover {
		outline: 0;
	}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
	border: 1px solid #474644;
	margin: 25px 0px;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

	button[disabled],
	html input[disabled] {
		cursor: default;
	}

	button::-moz-focus-inner,
	input::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

input {
	line-height: normal;
}

	input[type="checkbox"],
	input[type="radio"] {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 0;
	}

	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
		height: auto;
	}

	input[type="search"] {
		-webkit-appearance: textfield;
		-moz-box-sizing: content-box;
		-webkit-box-sizing: content-box;
		box-sizing: content-box;
	}

		input[type="search"]::-webkit-search-cancel-button,
		input[type="search"]::-webkit-search-decoration {
			-webkit-appearance: none;
		}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

	*:before,
	*:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

a {
	text-decoration: none;
}

	a:hover,
	a:focus {
		text-decoration: underline;
	}

	a:focus {
		outline: thin dotted;
		outline: 5px auto -webkit-focus-ring-color;
		outline-offset: -2px;
	}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
	position: static;
	width: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	clip: auto;
}

[role="button"] {
	cursor: pointer;
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 8px;
	padding-right: 8px;
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 900px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

.container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left: 8px;
	padding-right: 8px;
}

.row {
	margin-left: -8px;
	margin-right: -8px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-left: 8px;
	padding-right: 8px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
	float: left;
}

.col-xs-12 {
	width: 100%;
}

.col-xs-11 {
	width: 91.66666667%;
}

.col-xs-10 {
	width: 83.33333333%;
}

.col-xs-9 {
	width: 75%;
}

.col-xs-8 {
	width: 66.66666667%;
}

.col-xs-7 {
	width: 58.33333333%;
}

.col-xs-6 {
	width: 50%;
}

.col-xs-5 {
	width: 41.66666667%;
}

.col-xs-4 {
	width: 33.33333333%;
}

.col-xs-3 {
	width: 25%;
}

.col-xs-2 {
	width: 16.66666667%;
}

.col-xs-1 {
	width: 8.33333333%;
}

.col-xs-pull-12 {
	right: 100%;
}

.col-xs-pull-11 {
	right: 91.66666667%;
}

.col-xs-pull-10 {
	right: 83.33333333%;
}

.col-xs-pull-9 {
	right: 75%;
}

.col-xs-pull-8 {
	right: 66.66666667%;
}

.col-xs-pull-7 {
	right: 58.33333333%;
}

.col-xs-pull-6 {
	right: 50%;
}

.col-xs-pull-5 {
	right: 41.66666667%;
}

.col-xs-pull-4 {
	right: 33.33333333%;
}

.col-xs-pull-3 {
	right: 25%;
}

.col-xs-pull-2 {
	right: 16.66666667%;
}

.col-xs-pull-1 {
	right: 8.33333333%;
}

.col-xs-pull-0 {
	right: auto;
}

.col-xs-push-12 {
	left: 100%;
}

.col-xs-push-11 {
	left: 91.66666667%;
}

.col-xs-push-10 {
	left: 83.33333333%;
}

.col-xs-push-9 {
	left: 75%;
}

.col-xs-push-8 {
	left: 66.66666667%;
}

.col-xs-push-7 {
	left: 58.33333333%;
}

.col-xs-push-6 {
	left: 50%;
}

.col-xs-push-5 {
	left: 41.66666667%;
}

.col-xs-push-4 {
	left: 33.33333333%;
}

.col-xs-push-3 {
	left: 25%;
}

.col-xs-push-2 {
	left: 16.66666667%;
}

.col-xs-push-1 {
	left: 8.33333333%;
}

.col-xs-push-0 {
	left: auto;
}

.col-xs-offset-12 {
	margin-left: 100%;
}

.col-xs-offset-11 {
	margin-left: 91.66666667%;
}

.col-xs-offset-10 {
	margin-left: 83.33333333%;
}

.col-xs-offset-9 {
	margin-left: 75%;
}

.col-xs-offset-8 {
	margin-left: 66.66666667%;
}

.col-xs-offset-7 {
	margin-left: 58.33333333%;
}

.col-xs-offset-6 {
	margin-left: 50%;
}

.col-xs-offset-5 {
	margin-left: 41.66666667%;
}

.col-xs-offset-4 {
	margin-left: 33.33333333%;
}

.col-xs-offset-3 {
	margin-left: 25%;
}

.col-xs-offset-2 {
	margin-left: 16.66666667%;
}

.col-xs-offset-1 {
	margin-left: 8.33333333%;
}

.col-xs-offset-0 {
	margin-left: 0%;
}

@media (min-width: 768px) {
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
		float: left;
	}

	.col-sm-12 {
		width: 100%;
	}

	.col-sm-11 {
		width: 91.66666667%;
	}

	.col-sm-10 {
		width: 83.33333333%;
	}

	.col-sm-9 {
		width: 75%;
	}

	.col-sm-8 {
		width: 66.66666667%;
	}

	.col-sm-7 {
		width: 58.33333333%;
	}

	.col-sm-6 {
		width: 50%;
	}

	.col-sm-5 {
		width: 41.66666667%;
	}

	.col-sm-4 {
		width: 33.33333333%;
	}

	.col-sm-3 {
		width: 25%;
	}

	.col-sm-2 {
		width: 16.66666667%;
	}

	.col-sm-1 {
		width: 8.33333333%;
	}

	.col-sm-pull-12 {
		right: 100%;
	}

	.col-sm-pull-11 {
		right: 91.66666667%;
	}

	.col-sm-pull-10 {
		right: 83.33333333%;
	}

	.col-sm-pull-9 {
		right: 75%;
	}

	.col-sm-pull-8 {
		right: 66.66666667%;
	}

	.col-sm-pull-7 {
		right: 58.33333333%;
	}

	.col-sm-pull-6 {
		right: 50%;
	}

	.col-sm-pull-5 {
		right: 41.66666667%;
	}

	.col-sm-pull-4 {
		right: 33.33333333%;
	}

	.col-sm-pull-3 {
		right: 25%;
	}

	.col-sm-pull-2 {
		right: 16.66666667%;
	}

	.col-sm-pull-1 {
		right: 8.33333333%;
	}

	.col-sm-pull-0 {
		right: auto;
	}

	.col-sm-push-12 {
		left: 100%;
	}

	.col-sm-push-11 {
		left: 91.66666667%;
	}

	.col-sm-push-10 {
		left: 83.33333333%;
	}

	.col-sm-push-9 {
		left: 75%;
	}

	.col-sm-push-8 {
		left: 66.66666667%;
	}

	.col-sm-push-7 {
		left: 58.33333333%;
	}

	.col-sm-push-6 {
		left: 50%;
	}

	.col-sm-push-5 {
		left: 41.66666667%;
	}

	.col-sm-push-4 {
		left: 33.33333333%;
	}

	.col-sm-push-3 {
		left: 25%;
	}

	.col-sm-push-2 {
		left: 16.66666667%;
	}

	.col-sm-push-1 {
		left: 8.33333333%;
	}

	.col-sm-push-0 {
		left: auto;
	}

	.col-sm-offset-12 {
		margin-left: 100%;
	}

	.col-sm-offset-11 {
		margin-left: 91.66666667%;
	}

	.col-sm-offset-10 {
		margin-left: 83.33333333%;
	}

	.col-sm-offset-9 {
		margin-left: 75%;
	}

	.col-sm-offset-8 {
		margin-left: 66.66666667%;
	}

	.col-sm-offset-7 {
		margin-left: 58.33333333%;
	}

	.col-sm-offset-6 {
		margin-left: 50%;
	}

	.col-sm-offset-5 {
		margin-left: 41.66666667%;
	}

	.col-sm-offset-4 {
		margin-left: 33.33333333%;
	}

	.col-sm-offset-3 {
		margin-left: 25%;
	}

	.col-sm-offset-2 {
		margin-left: 16.66666667%;
	}

	.col-sm-offset-1 {
		margin-left: 8.33333333%;
	}

	.col-sm-offset-0 {
		margin-left: 0%;
	}
}

@media (min-width: 992px) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
		float: left;
	}

	.col-md-12 {
		width: 100%;
	}

	.col-md-11 {
		width: 91.66666667%;
	}

	.col-md-10 {
		width: 83.33333333%;
	}

	.col-md-9 {
		width: 75%;
	}

	.col-md-9 .padding-0-right {
		padding-right: 8px;
	}

	.col-md-8 {
		width: 66.66666667%;
	}

	.col-md-7 {
		width: 58.33333333%;
	}

	.col-md-6 {
		width: 50%;
	}

	.col-md-5 {
		width: 41.66666667%;
	}

	.col-md-4 {
		width: 33.33333333%;
	}

	.col-md-3 {
		width: 25%;
	}

	.col-md-2 {
		width: 16.66666667%;
	}

	.col-md-1 {
		width: 8.33333333%;
	}

	.col-md-pull-12 {
		right: 100%;
	}

	.col-md-pull-11 {
		right: 91.66666667%;
	}

	.col-md-pull-10 {
		right: 83.33333333%;
	}

	.col-md-pull-9 {
		right: 75%;
	}

	.col-md-pull-8 {
		right: 66.66666667%;
	}

	.col-md-pull-7 {
		right: 58.33333333%;
	}

	.col-md-pull-6 {
		right: 50%;
	}

	.col-md-pull-5 {
		right: 41.66666667%;
	}

	.col-md-pull-4 {
		right: 33.33333333%;
	}

	.col-md-pull-3 {
		right: 25%;
	}

	.col-md-pull-2 {
		right: 16.66666667%;
	}

	.col-md-pull-1 {
		right: 8.33333333%;
	}

	.col-md-pull-0 {
		right: auto;
	}

	.col-md-push-12 {
		left: 100%;
	}

	.col-md-push-11 {
		left: 91.66666667%;
	}

	.col-md-push-10 {
		left: 83.33333333%;
	}

	.col-md-push-9 {
		left: 75%;
	}

	.col-md-push-8 {
		left: 66.66666667%;
	}

	.col-md-push-7 {
		left: 58.33333333%;
	}

	.col-md-push-6 {
		left: 50%;
	}

	.col-md-push-5 {
		left: 41.66666667%;
	}

	.col-md-push-4 {
		left: 33.33333333%;
	}

	.col-md-push-3 {
		left: 25%;
	}

	.col-md-push-2 {
		left: 16.66666667%;
	}

	.col-md-push-1 {
		left: 8.33333333%;
	}

	.col-md-push-0 {
		left: auto;
	}

	.col-md-offset-12 {
		margin-left: 100%;
	}

	.col-md-offset-11 {
		margin-left: 91.66666667%;
	}

	.col-md-offset-10 {
		margin-left: 83.33333333%;
	}

	.col-md-offset-9 {
		margin-left: 75%;
	}

	.col-md-offset-8 {
		margin-left: 66.66666667%;
	}

	.col-md-offset-7 {
		margin-left: 58.33333333%;
	}

	.col-md-offset-6 {
		margin-left: 50%;
	}

	.col-md-offset-5 {
		margin-left: 41.66666667%;
	}

	.col-md-offset-4 {
		margin-left: 33.33333333%;
	}

	.col-md-offset-3 {
		margin-left: 25%;
	}

	.col-md-offset-2 {
		margin-left: 16.66666667%;
	}

	.col-md-offset-1 {
		margin-left: 8.33333333%;
	}

	.col-md-offset-0 {
		margin-left: 0%;
	}
}

@media (min-width: 1200px) {
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
		float: left;
	}

	.col-lg-12 {
		width: 100%;
	}

	.col-lg-11 {
		width: 91.66666667%;
	}

	.col-lg-10 {
		width: 83.33333333%;
	}

	.col-lg-9 {
		width: 75%;
	}

	.col-lg-8 {
		width: 66.66666667%;
	}

	.col-lg-7 {
		width: 58.33333333%;
	}

	.col-lg-6 {
		width: 50%;
	}

	.col-lg-5 {
		width: 41.66666667%;
	}

	.col-lg-4 {
		width: 33.33333333%;
	}

	.col-lg-3 {
		width: 25%;
	}

	.col-lg-2 {
		width: 16.66666667%;
	}

	.col-lg-1 {
		width: 8.33333333%;
	}

	.col-lg-pull-12 {
		right: 100%;
	}

	.col-lg-pull-11 {
		right: 91.66666667%;
	}

	.col-lg-pull-10 {
		right: 83.33333333%;
	}

	.col-lg-pull-9 {
		right: 75%;
	}

	.col-lg-pull-8 {
		right: 66.66666667%;
	}

	.col-lg-pull-7 {
		right: 58.33333333%;
	}

	.col-lg-pull-6 {
		right: 50%;
	}

	.col-lg-pull-5 {
		right: 41.66666667%;
	}

	.col-lg-pull-4 {
		right: 33.33333333%;
	}

	.col-lg-pull-3 {
		right: 25%;
	}

	.col-lg-pull-2 {
		right: 16.66666667%;
	}

	.col-lg-pull-1 {
		right: 8.33333333%;
	}

	.col-lg-pull-0 {
		right: auto;
	}

	.col-lg-push-12 {
		left: 100%;
	}

	.col-lg-push-11 {
		left: 91.66666667%;
	}

	.col-lg-push-10 {
		left: 83.33333333%;
	}

	.col-lg-push-9 {
		left: 75%;
	}

	.col-lg-push-8 {
		left: 66.66666667%;
	}

	.col-lg-push-7 {
		left: 58.33333333%;
	}

	.col-lg-push-6 {
		left: 50%;
	}

	.col-lg-push-5 {
		left: 41.66666667%;
	}

	.col-lg-push-4 {
		left: 33.33333333%;
	}

	.col-lg-push-3 {
		left: 25%;
	}

	.col-lg-push-2 {
		left: 16.66666667%;
	}

	.col-lg-push-1 {
		left: 8.33333333%;
	}

	.col-lg-push-0 {
		left: auto;
	}

	.col-lg-offset-12 {
		margin-left: 100%;
	}

	.col-lg-offset-11 {
		margin-left: 91.66666667%;
	}

	.col-lg-offset-10 {
		margin-left: 83.33333333%;
	}

	.col-lg-offset-9 {
		margin-left: 75%;
	}

	.col-lg-offset-8 {
		margin-left: 66.66666667%;
	}

	.col-lg-offset-7 {
		margin-left: 58.33333333%;
	}

	.col-lg-offset-6 {
		margin-left: 50%;
	}

	.col-lg-offset-5 {
		margin-left: 41.66666667%;
	}

	.col-lg-offset-4 {
		margin-left: 33.33333333%;
	}

	.col-lg-offset-3 {
		margin-left: 25%;
	}

	.col-lg-offset-2 {
		margin-left: 16.66666667%;
	}

	.col-lg-offset-1 {
		margin-left: 8.33333333%;
	}

	.col-lg-offset-0 {
		margin-left: 0%;
	}
}

fieldset {
	padding: 0;
	margin: 0;
	border: 0;
	min-width: 0;
}

legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: inherit;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
}

label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: bold;
}

input[type="search"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
	margin: 4px 0 0;
	margin-top: 1px \9;
	line-height: normal;
}

input[type="file"] {
	display: block;
}

input[type="range"] {
	display: block;
	width: 100%;
}

select[multiple],
select[size] {
	height: auto;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

output {
	display: block;
	padding-top: 7px;
	font-size: 14px;
	line-height: 1.42857143;
}

.form-control {
	display: block;
	width: 100%;
	height: 26px;
	padding: 2px 5px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555555;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #9D9C9C;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

	.form-control:focus {
		border-color: #66afe9;
		outline: 0;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
	}

	.form-control::-moz-placeholder {
		opacity: 1;
	}

	.form-control[disabled],
	.form-control[readonly],
	fieldset[disabled] .form-control {
		opacity: 1;
	}

	.form-control[disabled],
	fieldset[disabled] .form-control {
		cursor: not-allowed;
	}

textarea.form-control {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	input[type="date"],
	input[type="time"],
	input[type="datetime-local"],
	input[type="month"] {
		line-height: 34px;
	}

		input[type="date"].input-sm,
		input[type="time"].input-sm,
		input[type="datetime-local"].input-sm,
		input[type="month"].input-sm,
		.input-group-sm input[type="date"],
		.input-group-sm input[type="time"],
		.input-group-sm input[type="datetime-local"],
		.input-group-sm input[type="month"] {
			line-height: 30px;
		}

		input[type="date"].input-lg,
		input[type="time"].input-lg,
		input[type="datetime-local"].input-lg,
		input[type="month"].input-lg,
		.input-group-lg input[type="date"],
		.input-group-lg input[type="time"],
		.input-group-lg input[type="datetime-local"],
		.input-group-lg input[type="month"] {
			line-height: 46px;
		}
}

.form-group {
	margin-bottom: 8px;
}

.radio,
.checkbox {
	position: relative;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}

	.radio label,
	.checkbox label {
		min-height: 20px;
		padding-left: 20px;
		margin-bottom: 0;
		font-weight: normal;
		cursor: pointer;
	}

	.radio input[type="radio"],
	.radio-inline input[type="radio"],
	.checkbox input[type="checkbox"],
	.checkbox-inline input[type="checkbox"] {
		position: absolute;
		margin-left: -20px;
		margin-top: 4px \9;
	}

	.radio + .radio,
	.checkbox + .checkbox {
		margin-top: -5px;
	}

.radio-inline,
.checkbox-inline {
	position: relative;
	display: inline-block;
	padding-left: 20px;
	margin-bottom: 0;
	vertical-align: middle;
	font-weight: normal;
	cursor: pointer;
}

	.radio-inline + .radio-inline,
	.checkbox-inline + .checkbox-inline {
		margin-top: 0;
		margin-left: 10px;
	}

input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
	cursor: not-allowed;
}

.radio-inline.disabled,
.checkbox-inline.disabled,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox-inline {
	cursor: not-allowed;
}

.radio.disabled label,
.checkbox.disabled label,
fieldset[disabled] .radio label,
fieldset[disabled] .checkbox label {
	cursor: not-allowed;
}

.form-control-static {
	padding-top: 7px;
	padding-bottom: 7px;
	margin-bottom: 0;
	min-height: 34px;
}

	.form-control-static.input-lg,
	.form-control-static.input-sm {
		padding-left: 0;
		padding-right: 0;
	}

.input-sm {
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
}

select.input-sm {
	height: 30px;
	line-height: 30px;
}

textarea.input-sm,
select[multiple].input-sm {
	height: auto;
}

.form-group-sm .form-control {
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
}

select.form-group-sm .form-control {
	height: 30px;
	line-height: 30px;
}

textarea.form-group-sm .form-control,
select[multiple].form-group-sm .form-control {
	height: auto;
}

.form-group-sm .form-control-static {
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	min-height: 32px;
}

.input-lg {
	height: 46px;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
}

select.input-lg {
	height: 46px;
	line-height: 46px;
}

textarea.input-lg,
select[multiple].input-lg {
	height: auto;
}

.form-group-lg .form-control {
	height: 46px;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
}

select.form-group-lg .form-control {
	height: 46px;
	line-height: 46px;
}

textarea.form-group-lg .form-control,
select[multiple].form-group-lg .form-control {
	height: auto;
}

.form-group-lg .form-control-static {
	height: 46px;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
	min-height: 38px;
}

.has-feedback {
	position: relative;
}

	.has-feedback .form-control {
		padding-right: 42.5px;
	}

.form-control-feedback {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	display: block;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	pointer-events: none;
}

.input-lg + .form-control-feedback {
	width: 46px;
	height: 46px;
	line-height: 46px;
}

.input-sm + .form-control-feedback {
	width: 30px;
	height: 30px;
	line-height: 30px;
}

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
	color: #3c763d;
}

.has-success .form-control {
	border-color: #3c763d;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

	.has-success .form-control:focus {
		border-color: #2b542c;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
	}

.has-success .input-group-addon {
	color: #3c763d;
	border-color: #3c763d;
	background-color: #dff0d8;
}

.has-success .form-control-feedback {
	color: #3c763d;
}

.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label {
	color: #8a6d3b;
}

.has-warning .form-control {
	border-color: #8a6d3b;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

	.has-warning .form-control:focus {
		border-color: #66512c;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
	}

.has-warning .input-group-addon {
	color: #8a6d3b;
	border-color: #8a6d3b;
	background-color: #fcf8e3;
}

.has-warning .form-control-feedback {
	color: #8a6d3b;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
	color: #a94442;
}

.has-error .form-control {
	border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

	.has-error .form-control:focus {
		border-color: #843534;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
	}

.has-error .input-group-addon {
	color: #a94442;
	border-color: #a94442;
	background-color: #f2dede;
}

.has-error .form-control-feedback {
	color: #a94442;
}

.has-feedback label ~ .form-control-feedback {
	top: 25px;
}

.has-feedback label.sr-only ~ .form-control-feedback {
	top: 0;
}

.help-block {
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #737373;
}

@media (min-width: 768px) {
	.form-inline .form-group {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	}

	.form-inline .form-control {
		display: inline-block;
		width: auto;
		vertical-align: middle;
	}

	.form-inline .form-control-static {
		display: inline-block;
	}

	.form-inline .input-group {
		display: inline-table;
		vertical-align: middle;
	}

		.form-inline .input-group .input-group-addon,
		.form-inline .input-group .input-group-btn,
		.form-inline .input-group .form-control {
			width: auto;
		}

		.form-inline .input-group > .form-control {
			width: 100%;
		}

	.form-inline .control-label {
		margin-bottom: 0;
		vertical-align: middle;
	}

	.form-inline .radio,
	.form-inline .checkbox {
		display: inline-block;
		margin-top: 0;
		margin-bottom: 0;
		vertical-align: middle;
	}

		.form-inline .radio label,
		.form-inline .checkbox label {
			padding-left: 0;
		}

		.form-inline .radio input[type="radio"],
		.form-inline .checkbox input[type="checkbox"] {
			position: relative;
			margin-left: 0;
		}

	.form-inline .has-feedback .form-control-feedback {
		top: 0;
	}
}

.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 7px;
}

.form-horizontal .radio,
.form-horizontal .checkbox {
	min-height: 27px;
}

.form-horizontal .form-group {
	margin-left: -8px;
	margin-right: -8px;
}

@media (min-width: 768px) {
	.form-horizontal .control-label {
		text-align: right;
		margin-bottom: 0;
		padding-top: 7px;
	}
}

.form-horizontal .has-feedback .form-control-feedback {
	right: 8px;
}

@media (min-width: 768px) {
	.form-horizontal .form-group-lg .control-label {
		padding-top: 14.333333px;
	}
}

@media (min-width: 768px) {
	.form-horizontal .form-group-sm .control-label {
		padding-top: 6px;
	}
}

.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 2px 5px;
	font-size: 14px;
	line-height: 1.42857143;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

	.btn:focus,
	.btn:active:focus,
	.btn.active:focus,
	.btn.focus,
	.btn:active.focus,
	.btn.active.focus {
		outline: thin dotted;
		outline: 5px auto -webkit-focus-ring-color;
		outline-offset: -2px;
	}

	.btn:hover,
	.btn:focus,
	.btn.focus {
		color: #333333;
		text-decoration: none;
	}

	.btn:active,
	.btn.active {
		outline: 0;
		background-image: none;
		-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
		box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	}

	.btn.disabled,
	.btn[disabled],
	fieldset[disabled] .btn {
		cursor: not-allowed;
		pointer-events: none;
		opacity: 0.65;
		filter: alpha(opacity=65);
		-webkit-box-shadow: none;
		box-shadow: none;
	}

.btn-default {
	color: #333333;
	background-color: #ffffff;
	border-color: #cccccc;
}

	.btn-default:hover,
	.btn-default:focus,
	.btn-default.focus,
	.btn-default:active,
	.btn-default.active,
	.open > .dropdown-toggle.btn-default {
		color: #333333;
		background-color: #e6e6e6;
		border-color: #adadad;
	}

	.btn-default:active,
	.btn-default.active,
	.open > .dropdown-toggle.btn-default {
		background-image: none;
	}

	.btn-default.disabled,
	.btn-default[disabled],
	fieldset[disabled] .btn-default,
	.btn-default.disabled:hover,
	.btn-default[disabled]:hover,
	fieldset[disabled] .btn-default:hover,
	.btn-default.disabled:focus,
	.btn-default[disabled]:focus,
	fieldset[disabled] .btn-default:focus,
	.btn-default.disabled.focus,
	.btn-default[disabled].focus,
	fieldset[disabled] .btn-default.focus,
	.btn-default.disabled:active,
	.btn-default[disabled]:active,
	fieldset[disabled] .btn-default:active,
	.btn-default.disabled.active,
	.btn-default[disabled].active,
	fieldset[disabled] .btn-default.active {
		background-color: #ffffff;
		border-color: #cccccc;
	}

	.btn-default .badge {
		color: #ffffff;
		background-color: #333333;
	}

.btn-primary {
	color: #ffffff;
	background-color: #337ab7;
	border-color: #2e6da4;
}

	.btn-primary:hover,
	.btn-primary:focus,
	.btn-primary.focus,
	.btn-primary:active,
	.btn-primary.active,
	.open > .dropdown-toggle.btn-primary {
		color: #ffffff;
		background-color: #286090;
		border-color: #204d74;
	}

	.btn-primary:active,
	.btn-primary.active,
	.open > .dropdown-toggle.btn-primary {
		background-image: none;
	}

	.btn-primary.disabled,
	.btn-primary[disabled],
	fieldset[disabled] .btn-primary,
	.btn-primary.disabled:hover,
	.btn-primary[disabled]:hover,
	fieldset[disabled] .btn-primary:hover,
	.btn-primary.disabled:focus,
	.btn-primary[disabled]:focus,
	fieldset[disabled] .btn-primary:focus,
	.btn-primary.disabled.focus,
	.btn-primary[disabled].focus,
	fieldset[disabled] .btn-primary.focus,
	.btn-primary.disabled:active,
	.btn-primary[disabled]:active,
	fieldset[disabled] .btn-primary:active,
	.btn-primary.disabled.active,
	.btn-primary[disabled].active,
	fieldset[disabled] .btn-primary.active {
		background-color: #337ab7;
		border-color: #2e6da4;
	}

	.btn-primary .badge {
		color: #337ab7;
		background-color: #ffffff;
	}

.btn-success {
	color: #ffffff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}

	.btn-success:hover,
	.btn-success:focus,
	.btn-success.focus,
	.btn-success:active,
	.btn-success.active,
	.open > .dropdown-toggle.btn-success {
		color: #ffffff;
		background-color: #449d44;
		border-color: #398439;
	}

	.btn-success:active,
	.btn-success.active,
	.open > .dropdown-toggle.btn-success {
		background-image: none;
	}

	.btn-success.disabled,
	.btn-success[disabled],
	fieldset[disabled] .btn-success,
	.btn-success.disabled:hover,
	.btn-success[disabled]:hover,
	fieldset[disabled] .btn-success:hover,
	.btn-success.disabled:focus,
	.btn-success[disabled]:focus,
	fieldset[disabled] .btn-success:focus,
	.btn-success.disabled.focus,
	.btn-success[disabled].focus,
	fieldset[disabled] .btn-success.focus,
	.btn-success.disabled:active,
	.btn-success[disabled]:active,
	fieldset[disabled] .btn-success:active,
	.btn-success.disabled.active,
	.btn-success[disabled].active,
	fieldset[disabled] .btn-success.active {
		background-color: #5cb85c;
		border-color: #4cae4c;
	}

	.btn-success .badge {
		color: #5cb85c;
		background-color: #ffffff;
	}

.btn-info {
	color: #ffffff;
	background-color: #5bc0de;
	border-color: #46b8da;
}

	.btn-info:hover,
	.btn-info:focus,
	.btn-info.focus,
	.btn-info:active,
	.btn-info.active,
	.open > .dropdown-toggle.btn-info {
		color: #ffffff;
		background-color: #31b0d5;
		border-color: #269abc;
	}

	.btn-info:active,
	.btn-info.active,
	.open > .dropdown-toggle.btn-info {
		background-image: none;
	}

	.btn-info.disabled,
	.btn-info[disabled],
	fieldset[disabled] .btn-info,
	.btn-info.disabled:hover,
	.btn-info[disabled]:hover,
	fieldset[disabled] .btn-info:hover,
	.btn-info.disabled:focus,
	.btn-info[disabled]:focus,
	fieldset[disabled] .btn-info:focus,
	.btn-info.disabled.focus,
	.btn-info[disabled].focus,
	fieldset[disabled] .btn-info.focus,
	.btn-info.disabled:active,
	.btn-info[disabled]:active,
	fieldset[disabled] .btn-info:active,
	.btn-info.disabled.active,
	.btn-info[disabled].active,
	fieldset[disabled] .btn-info.active {
		background-color: #5bc0de;
		border-color: #46b8da;
	}

	.btn-info .badge {
		color: #5bc0de;
		background-color: #ffffff;
	}

.btn-warning {
	color: #ffffff;
	background-color: #f0ad4e;
	border-color: #eea236;
}

	.btn-warning:hover,
	.btn-warning:focus,
	.btn-warning.focus,
	.btn-warning:active,
	.btn-warning.active,
	.open > .dropdown-toggle.btn-warning {
		color: #ffffff;
		background-color: #ec971f;
		border-color: #d58512;
	}

	.btn-warning:active,
	.btn-warning.active,
	.open > .dropdown-toggle.btn-warning {
		background-image: none;
	}

	.btn-warning.disabled,
	.btn-warning[disabled],
	fieldset[disabled] .btn-warning,
	.btn-warning.disabled:hover,
	.btn-warning[disabled]:hover,
	fieldset[disabled] .btn-warning:hover,
	.btn-warning.disabled:focus,
	.btn-warning[disabled]:focus,
	fieldset[disabled] .btn-warning:focus,
	.btn-warning.disabled.focus,
	.btn-warning[disabled].focus,
	fieldset[disabled] .btn-warning.focus,
	.btn-warning.disabled:active,
	.btn-warning[disabled]:active,
	fieldset[disabled] .btn-warning:active,
	.btn-warning.disabled.active,
	.btn-warning[disabled].active,
	fieldset[disabled] .btn-warning.active {
		background-color: #f0ad4e;
		border-color: #eea236;
	}

	.btn-warning .badge {
		color: #f0ad4e;
		background-color: #ffffff;
	}

.btn-danger {
	color: #ffffff;
	background-color: #d9534f;
	border-color: #d43f3a;
}

	.btn-danger:hover,
	.btn-danger:focus,
	.btn-danger.focus,
	.btn-danger:active,
	.btn-danger.active,
	.open > .dropdown-toggle.btn-danger {
		color: #ffffff;
		background-color: #c9302c;
		border-color: #ac2925;
	}

	.btn-danger:active,
	.btn-danger.active,
	.open > .dropdown-toggle.btn-danger {
		background-image: none;
	}

	.btn-danger.disabled,
	.btn-danger[disabled],
	fieldset[disabled] .btn-danger,
	.btn-danger.disabled:hover,
	.btn-danger[disabled]:hover,
	fieldset[disabled] .btn-danger:hover,
	.btn-danger.disabled:focus,
	.btn-danger[disabled]:focus,
	fieldset[disabled] .btn-danger:focus,
	.btn-danger.disabled.focus,
	.btn-danger[disabled].focus,
	fieldset[disabled] .btn-danger.focus,
	.btn-danger.disabled:active,
	.btn-danger[disabled]:active,
	fieldset[disabled] .btn-danger:active,
	.btn-danger.disabled.active,
	.btn-danger[disabled].active,
	fieldset[disabled] .btn-danger.active {
		background-color: #d9534f;
		border-color: #d43f3a;
	}

	.btn-danger .badge {
		color: #d9534f;
		background-color: #ffffff;
	}

.btn-link {
	color: #337ab7;
	font-weight: normal;
	border-radius: 0;
}

	.btn-link,
	.btn-link:active,
	.btn-link.active,
	.btn-link[disabled],
	fieldset[disabled] .btn-link {
		background-color: transparent;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

		.btn-link,
		.btn-link:hover,
		.btn-link:focus,
		.btn-link:active {
			border-color: transparent;
		}

			.btn-link:hover,
			.btn-link:focus {
				color: #23527c;
				text-decoration: underline;
				background-color: transparent;
			}

			.btn-link[disabled]:hover,
			fieldset[disabled] .btn-link:hover,
			.btn-link[disabled]:focus,
			fieldset[disabled] .btn-link:focus {
				color: #777777;
				text-decoration: none;
			}

.btn-lg,
.btn-group-lg > .btn {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
}

.btn-sm,
.btn-group-sm > .btn {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
}

.btn-xs,
.btn-group-xs > .btn {
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1.5;
}

.btn-block {
	display: block;
	width: 100%;
}

	.btn-block + .btn-block {
		margin-top: 5px;
	}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
	width: 100%;
}

.btn-group,
.btn-group-vertical {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

	.btn-group > .btn,
	.btn-group-vertical > .btn {
		position: relative;
		float: left;
	}

		.btn-group > .btn:hover,
		.btn-group-vertical > .btn:hover,
		.btn-group > .btn:focus,
		.btn-group-vertical > .btn:focus,
		.btn-group > .btn:active,
		.btn-group-vertical > .btn:active,
		.btn-group > .btn.active,
		.btn-group-vertical > .btn.active {
			z-index: 2;
		}

	.btn-group .btn + .btn,
	.btn-group .btn + .btn-group,
	.btn-group .btn-group + .btn,
	.btn-group .btn-group + .btn-group {
		margin-left: -1px;
	}

.btn-toolbar {
	margin-left: -5px;
}

	.btn-toolbar .btn-group,
	.btn-toolbar .input-group {
		float: left;
	}

	.btn-toolbar > .btn,
	.btn-toolbar > .btn-group,
	.btn-toolbar > .input-group {
		margin-left: 5px;
	}

.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
	border-radius: 0;
}

.btn-group > .btn:first-child {
	margin-left: 0;
}

	.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
	}

.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.btn-group > .btn-group {
	float: left;
}

	.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
		border-radius: 0;
	}

	.btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child,
	.btn-group > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
	}

	.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
	}

.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
	outline: 0;
}

.btn-group > .btn + .dropdown-toggle {
	padding-left: 8px;
	padding-right: 8px;
}

.btn-group > .btn-lg + .dropdown-toggle {
	padding-left: 12px;
	padding-right: 12px;
}

.btn-group.open .dropdown-toggle {
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

	.btn-group.open .dropdown-toggle.btn-link {
		-webkit-box-shadow: none;
		box-shadow: none;
	}

.btn .caret {
	margin-left: 0;
}

.btn-lg .caret {
	border-width: 5px 5px 0;
	border-bottom-width: 0;
}

.dropup .btn-lg .caret {
	border-width: 0 5px 5px;
}

.btn-group-vertical > .btn,
.btn-group-vertical > .btn-group,
.btn-group-vertical > .btn-group > .btn {
	display: block;
	float: none;
	width: 100%;
	max-width: 100%;
}

	.btn-group-vertical > .btn-group > .btn {
		float: none;
	}

	.btn-group-vertical > .btn + .btn,
	.btn-group-vertical > .btn + .btn-group,
	.btn-group-vertical > .btn-group + .btn,
	.btn-group-vertical > .btn-group + .btn-group {
		margin-top: -1px;
		margin-left: 0;
	}

	.btn-group-vertical > .btn:not(:first-child):not(:last-child) {
		border-radius: 0;
	}

	.btn-group-vertical > .btn:first-child:not(:last-child) {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}

	.btn-group-vertical > .btn:last-child:not(:first-child) {
		border-bottom-left-radius: 0;
		border-top-right-radius: 0;
		border-top-left-radius: 0;
	}

	.btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .btn {
		border-radius: 0;
	}

	.btn-group-vertical > .btn-group:first-child:not(:last-child) > .btn:last-child,
	.btn-group-vertical > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}

	.btn-group-vertical > .btn-group:last-child:not(:first-child) > .btn:first-child {
		border-top-right-radius: 0;
		border-top-left-radius: 0;
	}

.btn-group-justified {
	display: table;
	width: 100%;
	table-layout: fixed;
	border-collapse: separate;
}

	.btn-group-justified > .btn,
	.btn-group-justified > .btn-group {
		float: none;
		display: table-cell;
		width: 1%;
	}

		.btn-group-justified > .btn-group .btn {
			width: 100%;
		}

		.btn-group-justified > .btn-group .dropdown-menu {
			left: auto;
		}

[data-toggle="buttons"] > .btn input[type="radio"],
[data-toggle="buttons"] > .btn-group > .btn input[type="radio"],
[data-toggle="buttons"] > .btn input[type="checkbox"],
[data-toggle="buttons"] > .btn-group > .btn input[type="checkbox"] {
	position: absolute;
	clip: rect(0, 0, 0, 0);
	pointer-events: none;
}

.input-group {
	position: relative;
	display: table;
	border-collapse: separate;
}

	.input-group[class*="col-"] {
		float: none;
		padding-left: 0;
		padding-right: 0;
	}

	.input-group .form-control {
		position: relative;
		z-index: 2;
		float: left;
		width: 100%;
		margin-bottom: 0;
	}

.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
	height: 46px;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
}

select.input-group-lg > .form-control,
select.input-group-lg > .input-group-addon,
select.input-group-lg > .input-group-btn > .btn {
	height: 46px;
	line-height: 46px;
}

textarea.input-group-lg > .form-control,
textarea.input-group-lg > .input-group-addon,
textarea.input-group-lg > .input-group-btn > .btn,
select[multiple].input-group-lg > .form-control,
select[multiple].input-group-lg > .input-group-addon,
select[multiple].input-group-lg > .input-group-btn > .btn {
	height: auto;
}

.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
}

select.input-group-sm > .form-control,
select.input-group-sm > .input-group-addon,
select.input-group-sm > .input-group-btn > .btn {
	height: 30px;
	line-height: 30px;
}

textarea.input-group-sm > .form-control,
textarea.input-group-sm > .input-group-addon,
textarea.input-group-sm > .input-group-btn > .btn,
select[multiple].input-group-sm > .form-control,
select[multiple].input-group-sm > .input-group-addon,
select[multiple].input-group-sm > .input-group-btn > .btn {
	height: auto;
}

.input-group-addon,
.input-group-btn,
.input-group .form-control {
	display: table-cell;
}

	.input-group-addon:not(:first-child):not(:last-child),
	.input-group-btn:not(:first-child):not(:last-child),
	.input-group .form-control:not(:first-child):not(:last-child) {
		border-radius: 0;
	}

.input-group-addon,
.input-group-btn {
	width: 1%;
	white-space: nowrap;
	vertical-align: middle;
}

.input-group-addon {
	padding: 6px 12px;
	font-size: 14px;
	font-weight: normal;
	line-height: 1;
	color: #555555;
	text-align: center;
	background-color: #eeeeee;
	border: 1px solid #cccccc;
}

	.input-group-addon.input-sm {
		padding: 5px 10px;
		font-size: 12px;
	}

	.input-group-addon.input-lg {
		padding: 10px 16px;
		font-size: 18px;
	}

	.input-group-addon input[type="radio"],
	.input-group-addon input[type="checkbox"] {
		margin-top: 0;
	}

	.input-group .form-control:first-child,
	.input-group-addon:first-child,
	.input-group-btn:first-child > .btn,
	.input-group-btn:first-child > .btn-group > .btn,
	.input-group-btn:first-child > .dropdown-toggle,
	.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
	.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
	}

	.input-group-addon:first-child {
		border-right: 0;
	}

	.input-group .form-control:last-child,
	.input-group-addon:last-child,
	.input-group-btn:last-child > .btn,
	.input-group-btn:last-child > .btn-group > .btn,
	.input-group-btn:last-child > .dropdown-toggle,
	.input-group-btn:first-child > .btn:not(:first-child),
	.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
	}

	.input-group-addon:last-child {
		border-left: 0;
	}

.input-group-btn {
	position: relative;
	font-size: 0;
	white-space: nowrap;
}

	.input-group-btn > .btn {
		position: relative;
	}

		.input-group-btn > .btn + .btn {
			margin-left: -1px;
		}

		.input-group-btn > .btn:hover,
		.input-group-btn > .btn:focus,
		.input-group-btn > .btn:active {
			z-index: 2;
		}

	.input-group-btn:first-child > .btn,
	.input-group-btn:first-child > .btn-group {
		margin-right: -1px;
	}

	.input-group-btn:last-child > .btn,
	.input-group-btn:last-child > .btn-group {
		margin-left: -1px;
	}

.nav {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

	.nav > li {
		position: relative;
		display: block;
	}

		.nav > li > a {
			position: relative;
			display: block;
		}

			.nav > li > a:hover,
			.nav > li > a:focus {
				text-decoration: none;
			}

		.nav > li.disabled > a {
			color: #777777;
		}

			.nav > li.disabled > a:hover,
			.nav > li.disabled > a:focus {
				color: #777777;
				text-decoration: none;
				background-color: transparent;
				cursor: not-allowed;
			}

	.nav .open > a,
	.nav .open > a:hover,
	.nav .open > a:focus {
		background-color: #eeeeee;
		border-color: #337ab7;
	}

	.nav .nav-divider {
		height: 1px;
		margin: 9px 0;
		overflow: hidden;
		background-color: #e5e5e5;
	}

.nav-tabs {
	border-bottom: 1px solid #dddddd;
}

	.nav-tabs > li {
		float: left;
		margin-bottom: -1px;
	}

		.nav-tabs > li > a {
			margin-right: 2px;
			line-height: 1.42857143;
			border: 1px solid transparent;
			border-radius: 0;
		}

			.nav-tabs > li > a:hover {
				border-color: #eeeeee #eeeeee #dddddd;
			}

		.nav-tabs > li.active > a,
		.nav-tabs > li.active > a:hover,
		.nav-tabs > li.active > a:focus {
			color: #555555;
			background-color: #ffffff;
			border: 1px solid #dddddd;
			border-bottom-color: transparent;
			cursor: default;
		}

	.nav-tabs.nav-justified {
		width: 100%;
		border-bottom: 0;
	}

		.nav-tabs.nav-justified > li {
			float: none;
		}

			.nav-tabs.nav-justified > li > a {
				text-align: center;
				margin-bottom: 5px;
			}

		.nav-tabs.nav-justified > .dropdown .dropdown-menu {
			top: auto;
			left: auto;
		}

@media (min-width: 768px) {
	.nav-tabs.nav-justified > li {
		display: table-cell;
		width: 1%;
	}

		.nav-tabs.nav-justified > li > a {
			margin-bottom: 0;
		}
}

.nav-tabs.nav-justified > li > a {
	margin-right: 0;
}

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
	border: 1px solid #dddddd;
}

@media (min-width: 768px) {
	.nav-tabs.nav-justified > li > a {
		border-bottom: 1px solid #dddddd;
		border-radius: 0;
	}

	.nav-tabs.nav-justified > .active > a,
	.nav-tabs.nav-justified > .active > a:hover,
	.nav-tabs.nav-justified > .active > a:focus {
		border-bottom-color: #ffffff;
	}
}

.nav-pills > li {
	float: left;
}

	.nav-pills > li + li {
		margin-left: 2px;
	}

	.nav-pills > li.active > a,
	.nav-pills > li.active > a:hover,
	.nav-pills > li.active > a:focus {
		color: #ffffff;
		background-color: #337ab7;
	}

.nav-stacked > li {
	float: none;
}

	.nav-stacked > li + li {
		margin-top: 2px;
		margin-left: 0;
	}

.nav-justified {
	width: 100%;
}

	.nav-justified > li {
		float: none;
	}

		.nav-justified > li > a {
			text-align: center;
			margin-bottom: 5px;
		}

	.nav-justified > .dropdown .dropdown-menu {
		top: auto;
		left: auto;
	}

@media (min-width: 768px) {
	.nav-justified > li {
		display: table-cell;
		width: 1%;
	}

		.nav-justified > li > a {
			margin-bottom: 0;
		}
}

.nav-tabs-justified {
	border-bottom: 0;
}

	.nav-tabs-justified > li > a {
		margin-right: 0;
	}

	.nav-tabs-justified > .active > a,
	.nav-tabs-justified > .active > a:hover,
	.nav-tabs-justified > .active > a:focus {
		border: 1px solid #dddddd;
	}

@media (min-width: 768px) {
	.nav-tabs-justified > li > a {
		border-bottom: 1px solid #dddddd;
		border-radius: 0;
	}

	.nav-tabs-justified > .active > a,
	.nav-tabs-justified > .active > a:hover,
	.nav-tabs-justified > .active > a:focus {
		border-bottom-color: #ffffff;
	}
}

.tab-content > .tab-pane {
	display: none;
}

.tab-content > .active {
	display: block;
}

.nav-tabs .dropdown-menu {
	margin-top: -1px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 20px;
	border: 1px solid transparent;
}

@media (min-width: 768px) {
	.navbar-header {
		float: left;
	}
}

.navbar-collapse {
	overflow-x: visible;
	padding-right: 8px;
	padding-left: 8px;
	border-top: 1px solid transparent;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	-webkit-overflow-scrolling: touch;
}

	.navbar-collapse.in {
		overflow-y: auto;
	}

@media (min-width: 768px) {
	.navbar-collapse {
		width: auto;
		border-top: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

		.navbar-collapse.collapse {
			display: block !important;
			height: auto !important;
			padding-bottom: 0;
			overflow: visible !important;
		}

		.navbar-collapse.in {
			overflow-y: visible;
		}

	.navbar-fixed-top .navbar-collapse,
	.navbar-static-top .navbar-collapse,
	.navbar-fixed-bottom .navbar-collapse {
		padding-left: 0;
		padding-right: 0;
	}
}

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
	max-height: 340px;
}

@media (max-device-width: 480px) and (orientation: landscape) {
	.navbar-fixed-top .navbar-collapse,
	.navbar-fixed-bottom .navbar-collapse {
		max-height: 200px;
	}
}

.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
	margin-right: -8px;
	margin-left: -8px;
}

@media (min-width: 768px) {
	.container > .navbar-header,
	.container-fluid > .navbar-header,
	.container > .navbar-collapse,
	.container-fluid > .navbar-collapse {
		margin-right: 0;
		margin-left: 0;
	}
}

.navbar-static-top {
	z-index: 1000;
	border-width: 0 0 1px;
}

@media (min-width: 768px) {
	.navbar-static-top {
		border-radius: 0;
	}
}

.navbar-fixed-top,
.navbar-fixed-bottom {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
}

@media (min-width: 768px) {
	.navbar-fixed-top,
	.navbar-fixed-bottom {
		border-radius: 0;
	}
}

.navbar-fixed-top {
	top: 0;
	border-width: 0 0 1px;
}

.navbar-fixed-bottom {
	bottom: 0;
	margin-bottom: 0;
	border-width: 1px 0 0;
}

.navbar-brand {
	float: left;
	padding: 8px 8px;
	font-size: 18px;
	line-height: 20px;
	height: 50px;
}

	.navbar-brand:hover,
	.navbar-brand:focus {
		text-decoration: none;
	}

	.navbar-brand > img {
		display: block;
	}

@media (min-width: 768px) {
	.navbar > .container .navbar-brand,
	.navbar > .container-fluid .navbar-brand {
		margin-left: -8px;
	}
}

.navbar-toggle {
	position: relative;
	float: right;
	margin-right: 8px;
	padding: 9px 10px;
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
}

	.navbar-toggle:focus {
		outline: 0;
	}

	.navbar-toggle .icon-bar {
		display: block;
		width: 22px;
		height: 2px;
	}

		.navbar-toggle .icon-bar + .icon-bar {
			margin-top: 4px;
		}

@media (min-width: 768px) {
	.navbar-toggle {
		display: none;
	}
}

.navbar-nav {
	margin: 7.5px -8px;
}

	.navbar-nav > li > a {
		padding-top: 10px;
		padding-bottom: 10px;
		line-height: 20px;
	}

@media (max-width: 767px) {
	.navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

		.navbar-nav .open .dropdown-menu > li > a,
		.navbar-nav .open .dropdown-menu .dropdown-header {
			padding: 5px 8px 5px 25px;
		}

		.navbar-nav .open .dropdown-menu > li > a {
			line-height: 20px;
		}

			.navbar-nav .open .dropdown-menu > li > a:hover,
			.navbar-nav .open .dropdown-menu > li > a:focus {
				background-image: none;
			}
}

@media (min-width: 768px) {
	.navbar-nav {
		float: left;
		margin: 0;
	}

		.navbar-nav > li {
			float: left;
		}

			.navbar-nav > li > a {
				padding-top: 8px;
				padding-bottom: 8px;
			}
}

.navbar-form {
	margin-left: -8px;
	margin-right: -8px;
	padding: 10px 8px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
	margin-top: 8px;
	margin-bottom: 8px;
}

@media (min-width: 768px) {
	.navbar-form .form-group {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	}

	.navbar-form .form-control {
		display: inline-block;
		width: auto;
		vertical-align: middle;
	}

	.navbar-form .form-control-static {
		display: inline-block;
	}

	.navbar-form .input-group {
		display: inline-table;
		vertical-align: middle;
	}

		.navbar-form .input-group .input-group-addon,
		.navbar-form .input-group .input-group-btn,
		.navbar-form .input-group .form-control {
			width: auto;
		}

		.navbar-form .input-group > .form-control {
			width: 100%;
		}

	.navbar-form .control-label {
		margin-bottom: 0;
		vertical-align: middle;
	}

	.navbar-form .radio,
	.navbar-form .checkbox {
		display: inline-block;
		margin-top: 0;
		margin-bottom: 0;
		vertical-align: middle;
	}

		.navbar-form .radio label,
		.navbar-form .checkbox label {
			padding-left: 0;
		}

		.navbar-form .radio input[type="radio"],
		.navbar-form .checkbox input[type="checkbox"] {
			position: relative;
			margin-left: 0;
		}

	.navbar-form .has-feedback .form-control-feedback {
		top: 0;
	}
}

@media (max-width: 767px) {
	.navbar-form .form-group {
		margin-bottom: 5px;
	}

		.navbar-form .form-group:last-child {
			margin-bottom: 0;
		}
}

@media (min-width: 768px) {
	.navbar-form {
		width: auto;
		border: 0;
		margin-left: 0;
		margin-right: 0;
		padding-top: 0;
		padding-bottom: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}

.navbar-nav > li > .dropdown-menu {
	margin-top: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
	margin-bottom: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.navbar-btn {
	margin-top: 8px;
	margin-bottom: 8px;
}

	.navbar-btn.btn-sm {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.navbar-btn.btn-xs {
		margin-top: 14px;
		margin-bottom: 14px;
	}

.navbar-text {
	margin-top: 8px;
	margin-bottom: 8px;
}

@media (min-width: 768px) {
	.navbar-text {
		float: left;
		margin-left: 8px;
		margin-right: 8px;
	}
}

@media (min-width: 768px) {
	.navbar-left {
		float: left !important;
	}

	.navbar-right {
		float: right !important;
		margin-right: -8px;
	}

		.navbar-right ~ .navbar-right {
			margin-right: 0;
		}
}

.navbar-default {
	background-color: #f8f8f8;
	border-color: #e7e7e7;
}

	.navbar-default .navbar-brand {
		color: #777777;
	}

		.navbar-default .navbar-brand:hover,
		.navbar-default .navbar-brand:focus {
			color: #5e5e5e;
			background-color: transparent;
		}

	.navbar-default .navbar-text {
		color: #777777;
	}

	.navbar-default .navbar-nav > li > a {
		color: #777777;
	}

		.navbar-default .navbar-nav > li > a:hover,
		.navbar-default .navbar-nav > li > a:focus {
			color: #333333;
			background-color: transparent;
		}

	.navbar-default .navbar-nav > .active > a,
	.navbar-default .navbar-nav > .active > a:hover,
	.navbar-default .navbar-nav > .active > a:focus {
		color: #555555;
		background-color: #e7e7e7;
	}

	.navbar-default .navbar-nav > .disabled > a,
	.navbar-default .navbar-nav > .disabled > a:hover,
	.navbar-default .navbar-nav > .disabled > a:focus {
		color: #cccccc;
		background-color: transparent;
	}

	.navbar-default .navbar-toggle {
		border-color: #dddddd;
	}

		.navbar-default .navbar-toggle:hover,
		.navbar-default .navbar-toggle:focus {
			background-color: #dddddd;
		}

		.navbar-default .navbar-toggle .icon-bar {
			background-color: #888888;
		}

	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		border-color: #e7e7e7;
	}

	.navbar-default .navbar-nav > .open > a,
	.navbar-default .navbar-nav > .open > a:hover,
	.navbar-default .navbar-nav > .open > a:focus {
		background-color: #e7e7e7;
		color: #555555;
	}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #777777;
	}

		.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
		.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
			color: #333333;
			background-color: transparent;
		}

	.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #555555;
		background-color: #e7e7e7;
	}

	.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
		color: #cccccc;
		background-color: transparent;
	}
}

.navbar-default .navbar-link {
	color: #777777;
}

	.navbar-default .navbar-link:hover {
		color: #333333;
	}

.navbar-default .btn-link {
	color: #777777;
}

	.navbar-default .btn-link:hover,
	.navbar-default .btn-link:focus {
		color: #333333;
	}

	.navbar-default .btn-link[disabled]:hover,
	fieldset[disabled] .navbar-default .btn-link:hover,
	.navbar-default .btn-link[disabled]:focus,
	fieldset[disabled] .navbar-default .btn-link:focus {
		color: #cccccc;
	}

.navbar-inverse {
	background-color: #222222;
	border-color: #080808;
}

	.navbar-inverse .navbar-brand {
		color: #9d9d9d;
	}

		.navbar-inverse .navbar-brand:hover,
		.navbar-inverse .navbar-brand:focus {
			color: #ffffff;
			background-color: transparent;
		}

	.navbar-inverse .navbar-text {
		color: #9d9d9d;
	}

	.navbar-inverse .navbar-nav > li > a {
		color: #9d9d9d;
	}

		.navbar-inverse .navbar-nav > li > a:hover,
		.navbar-inverse .navbar-nav > li > a:focus {
			color: #ffffff;
			background-color: transparent;
		}

	.navbar-inverse .navbar-nav > .active > a,
	.navbar-inverse .navbar-nav > .active > a:hover,
	.navbar-inverse .navbar-nav > .active > a:focus {
		color: #ffffff;
		background-color: #080808;
	}

	.navbar-inverse .navbar-nav > .disabled > a,
	.navbar-inverse .navbar-nav > .disabled > a:hover,
	.navbar-inverse .navbar-nav > .disabled > a:focus {
		color: #444444;
		background-color: transparent;
	}

	.navbar-inverse .navbar-toggle {
		border-color: #333333;
	}

		.navbar-inverse .navbar-toggle:hover,
		.navbar-inverse .navbar-toggle:focus {
			background-color: #333333;
		}

		.navbar-inverse .navbar-toggle .icon-bar {
			background-color: #ffffff;
		}

	.navbar-inverse .navbar-collapse,
	.navbar-inverse .navbar-form {
		border-color: #101010;
	}

	.navbar-inverse .navbar-nav > .open > a,
	.navbar-inverse .navbar-nav > .open > a:hover,
	.navbar-inverse .navbar-nav > .open > a:focus {
		background-color: #080808;
		color: #ffffff;
	}

@media (max-width: 767px) {
	.navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
		border-color: #080808;
	}

	.navbar-inverse .navbar-nav .open .dropdown-menu .divider {
		background-color: #080808;
	}

	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
		color: #9d9d9d;
	}

		.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
		.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
			color: #ffffff;
			background-color: transparent;
		}

	.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #ffffff;
		background-color: #080808;
	}

	.navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
	.navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
	.navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
		color: #444444;
		background-color: transparent;
	}
}

.navbar-inverse .navbar-link {
	color: #9d9d9d;
}

	.navbar-inverse .navbar-link:hover {
		color: #ffffff;
	}

.navbar-inverse .btn-link {
	color: #9d9d9d;
}

	.navbar-inverse .btn-link:hover,
	.navbar-inverse .btn-link:focus {
		color: #ffffff;
	}

	.navbar-inverse .btn-link[disabled]:hover,
	fieldset[disabled] .navbar-inverse .btn-link:hover,
	.navbar-inverse .btn-link[disabled]:focus,
	fieldset[disabled] .navbar-inverse .btn-link:focus {
		color: #444444;
	}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after {
	content: " ";
	display: table;
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after {
	clear: both;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.pull-right {
	float: right !important;
}

.pull-left {
	float: left !important;
}

.hide {
	display: none !important;
}

.show {
	display: block !important;
}

.invisible {
	visibility: hidden;
}

.text-hide {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

.hidden {
	display: none !important;
}

.affix {
	position: fixed;
}

@-ms-viewport {
	width: device-width;
}

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
	display: none !important;
}

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
	display: none !important;
}

@media (max-width: 767px) {
	.visible-xs {
		display: block !important;
	}

	table.visible-xs {
		display: table;
	}

	tr.visible-xs {
		display: table-row !important;
	}

	th.visible-xs,
	td.visible-xs {
		display: table-cell !important;
	}
}

@media (max-width: 767px) {
	.visible-xs-block {
		display: block !important;
	}
}

@media (max-width: 767px) {
	.visible-xs-inline {
		display: inline !important;
	}
}

@media (max-width: 767px) {
	.visible-xs-inline-block {
		display: inline-block !important;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.visible-sm {
		display: block !important;
	}

	table.visible-sm {
		display: table;
	}

	tr.visible-sm {
		display: table-row !important;
	}

	th.visible-sm,
	td.visible-sm {
		display: table-cell !important;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.visible-sm-block {
		display: block !important;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.visible-sm-inline {
		display: inline !important;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.visible-sm-inline-block {
		display: inline-block !important;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.visible-md {
		display: block !important;
	}

	table.visible-md {
		display: table;
	}

	tr.visible-md {
		display: table-row !important;
	}

	th.visible-md,
	td.visible-md {
		display: table-cell !important;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.visible-md-block {
		display: block !important;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.visible-md-inline {
		display: inline !important;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.visible-md-inline-block {
		display: inline-block !important;
	}
}

@media (min-width: 1200px) {
	.visible-lg {
		display: block !important;
	}

	table.visible-lg {
		display: table;
	}

	tr.visible-lg {
		display: table-row !important;
	}

	th.visible-lg,
	td.visible-lg {
		display: table-cell !important;
	}
}

@media (min-width: 1200px) {
	.visible-lg-block {
		display: block !important;
	}
}

@media (min-width: 1200px) {
	.visible-lg-inline {
		display: inline !important;
	}
}

@media (min-width: 1200px) {
	.visible-lg-inline-block {
		display: inline-block !important;
	}
}

@media (max-width: 767px) {
	.hidden-xs {
		display: none !important;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.hidden-sm {
		display: none !important;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.hidden-md {
		display: none !important;
	}
}

@media (min-width: 1200px) {
	.hidden-lg {
		display: none !important;
	}
}

.visible-print {
	display: none !important;
}

@media print {
	.visible-print {
		display: block !important;
	}

	table.visible-print {
		display: table;
	}

	tr.visible-print {
		display: table-row !important;
	}

	th.visible-print,
	td.visible-print {
		display: table-cell !important;
	}
}

.visible-print-block {
	display: none !important;
}

@media print {
	.visible-print-block {
		display: block !important;
	}
}

.visible-print-inline {
	display: none !important;
}

@media print {
	.visible-print-inline {
		display: inline !important;
	}
}

.visible-print-inline-block {
	display: none !important;
}

@media print {
	.visible-print-inline-block {
		display: inline-block !important;
	}
}

@media print {
	.hidden-print {
		display: none !important;
	}
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  width: auto;
}

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
}
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive-4by3 {
  padding-bottom: 75%;
}


.ytce > p {
	display: none;
}