﻿// --------------------------------------------------
// --------------------- Colours
// --------------------------------------------------

@black:				#000000;

// --------------------------------------------------
// --------------------- Fonts
// --------------------------------------------------

@font-face {
	font-family: 'stainy';
	src: url('../fonts/stainy.eot');
	src: url('../fonts/stainy.eot?#iefix') format('embedded-opentype'), url('../fonts/stainy.woff2') format('woff2'), url('../fonts/stainy.woff') format('woff'), url('../fonts/stainy.ttf') format('truetype'), url('../fonts/stainy.svg#stainy') format('svg');
	font-weight: normal;
	font-style: normal;
}

// --------------------------------------------------
// --------------------- Variables
// --------------------------------------------------

@gutter: 8px;

// --------------------------------------------------
// --------------------- Generic
// --------------------------------------------------

body {
	font-family: Arial, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 14px;
}

h1, h2, h3 {
	font-family: 'stainy', 'Helvetica Neue', Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
	font-size: 36px;
}

a {
	color: @black;
}

// --------------------------------------------------
// --------------------- Node teaser
// --------------------------------------------------

.node-teaser {
	padding-top: @gutter;
	padding-bottom: @gutter - 3;
	position: relative;
	height: 100%;
	width: 100%;

	&:hover, &:focus {
		h2 {
			display: block;
		}

		img {
			opacity: 0.3;
			filter: alpha(opacity=30);
		}
	}

	h2 {
		position: absolute;
		margin: 50% 0 0 0;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		text-align: center;
		display: none;
		-moz-transform: rotate(-10deg);
		-ms-transform: rotate(-10deg);
		-o-transform: rotate(-10deg);
		-webkit-transform: rotate(-10deg);
		transform: rotate(-10deg);
	}

	a {
		display: block;

		img {
			width: 100%;
			height: auto;
			opacity: 1;
		}
	}
}

// --------------------------------------------------
// --------------------- Logo
// --------------------------------------------------

#logo {
	display: block;
	padding-top: @gutter;
	padding-bottom: @gutter;

	a {
		display: block;

		img {
			display: block;
			margin: 0 auto;
			max-width: 100%;
		}
	}
}
